In [10]:

import pandas as pd

df = pd.read_csv("belize_airbnb_listings.csv")

neighbourhood_summary = (
    df.groupby("neighbourhood")
      .agg(
          avg_price=("price", "mean"),
          total_reviews=("number_of_reviews", "sum"),
          max_availability_365=("availability_365", "max")
      )
      .reset_index()
)

neighbourhood_summary.head()

     neighbourhood   avg_price  total_reviews  max_availability_365
0   Belize Islands  399.442824          22995                   365
1  Belize Mainland  288.273063           4105                   365
2             Cayo  205.847525           7356                   365
3          Corozal  156.553846            492                   365
4      Orange Walk  122.035714            415                   365